<template>
	<div>
		<el-row
			:gutter="20"
			class="catalog"
		>
			<el-col
					v-for="cardId in userFavoriteCards"
					:key="cardId"
					:xs="24"
					:sm="12"
					:md="12"
					:lg="8"
					:xl="6"
			>
				<CatalogCardItem
						:card="pokemonCard(cardId)"
						class="catalog-card-item"
				/>
			</el-col>
		</el-row>
	</div>
</template>

<script>
import { mapGetters } from 'vuex';
import CatalogCardItem from '@/components/catalog/CatalogCardItem';

export default {
	name: 'FavoritesAllCards',
	components: {
		CatalogCardItem,
	},
	computed: {
		...mapGetters('catalog', ['userFavoriteCards', 'pokemonCard']),
	},
};
</script>

<style scoped>

</style>