<template>
	<el-form
		ref="catalogForm"
		inline
		size="mini"
		label-position="top"
		class="catalog-form"
	>
		<!-- SET -->
		<el-form-item label="Set">
			<el-select
				:value="pokemonCardsFilters['set.id']"
				value-key="id"
				multiple
				clearable
				filterable
				class="catalog-form-item"
				@change="updateFilters('set.id', $event)"
			>
				<el-option
					v-for="set in pokemonSets"
					:key="set.id"
					:label="set.name"
					:value="set.id"
				>
					<el-image
						:src="set.images.symbol"
						fit="fill"
						class="pokemon-set-symbol-image"
					/>
					<span>{{ set.name }}</span>
					<el-badge
						:value="set.total &lt; 2 ? set.total + ' card' : set.total + ' cards'"
						type="info"
						style="float: right;"
					/>
				</el-option>
			</el-select>
		</el-form-item>

		<!-- TYPE -->
		<el-form-item label="Type">
			<el-select
					:value="pokemonCardsFilters.types"
					value-key="id"
					multiple
					clearable
					filterable
					class="catalog-form-item"
					@change="updateFilters('types', $event)"
			>
				<el-option
						v-for="type in pokemonTypes"
						:key="type"
						:label="type"
						:value="type"
				/>
			</el-select>
		</el-form-item>

		<!-- SUB TYPE -->
		<el-form-item label="Sub type">
			<el-select
					:value="pokemonCardsFilters.subtypes"
					value-key="id"
					multiple
					clearable
					filterable
					class="catalog-form-item"
					@change="updateFilters('subtypes', $event)"
			>
				<el-option
						v-for="subtype in pokemonSubtypes"
						:key="subtype"
						:label="subtype"
						:value="subtype"
				/>
			</el-select>
		</el-form-item>

		<!-- SUPER TYPE -->
		<el-form-item label="Super type">
			<el-select
					:value="pokemonCardsFilters.supertype"
					value-key="id"
					multiple
					clearable
					filterable
					class="catalog-form-item"
					@change="updateFilters('supertype', $event)"
			>
				<el-option
						v-for="supertype in pokemonSupertypes"
						:key="supertype"
						:label="supertype"
						:value="supertype"
				/>
			</el-select>
		</el-form-item>

		<!-- RARITY -->
		<el-form-item label="Rarity">
			<el-select
					:value="pokemonCardsFilters.rarity"
					value-key="id"
					multiple
					clearable
					filterable
					class="catalog-form-item"
					@change="updateFilters('rarity', $event)"
			>
				<el-option
						v-for="rarity in pokemonRarities"
						:key="rarity"
						:label="rarity"
						:value="rarity"
				/>
			</el-select>
		</el-form-item>

		<div style="display: inline-block;">
			<el-tooltip
					content="Search operator on selected filter(s)"
					placement="top"
			>
				<el-row style="padding: 5px;">
					<el-radio-group
						v-model="searchMode"
						fill="#333333"
						size="mini"
					>
						<el-radio-button :label="0">OR</el-radio-button>
						<el-radio-button :label="1">AND</el-radio-button>
					</el-radio-group>
				</el-row>
			</el-tooltip>
			<el-row>
				<!-- SUBMIT BUTTON -->
				<el-button
						icon="el-icon-check"
						size="mini"
						class="catalog-form-button__black"
						@click="submitFilters"
				>
					Submit
				</el-button>

				<!-- RESET BUTTON -->
				<el-link
						v-if="displayResetButton"
						icon="el-icon-circle-close"
						style="padding: 7px;"
						class="catalog-form-button"
						@click="resetForm"
				>
					Reset
				</el-link>
			</el-row>
		</div>
	</el-form>
</template>

<script>
import { mapGetters, mapActions, mapMutations } from 'vuex';

export default {
	name: 'CatalogAdvancedSearch',
	props: {
		loadingCards: { type: Boolean, default: false },
	},
	computed: {
		...mapGetters('fixedData',
			['pokemonSets', 'pokemonTypes', 'pokemonSubtypes', 'pokemonSupertypes', 'pokemonRarities']
		),
		...mapGetters('catalog', ['pokemonCardsFilters', 'pokemonCardsSearchMode']),
		displayResetButton() {
			// Display reset button only when at leat one value is selected in filters
			return this._(this.pokemonCardsFilters).values().sumBy('length') > 0;
		},
		searchMode: {
			get() {
				return this.pokemonCardsSearchMode;
			},
			set(value) {
				this.SET_CARDS_SEARCH_MODE(value);
			},
		},
	},
	methods: {
		...mapActions('catalog', ['fetchPokemonCards']),
		...mapMutations('catalog', ['SET_CARDS_SEARCH_MODE', 'CLEAR_CARDS_FILTERS', 'SET_CARDS_FILTER', 'SET_CURRENT_PAGE_CARDS']),
		updateFilters(filterName, value) {
			this.SET_CARDS_FILTER({ filterName, value });
		},
		submitFilters() {
			this.$emit('update:loadingCards', true);

			// Reset current page to the first one before searching
			this.SET_CURRENT_PAGE_CARDS(1);
			this.fetchPokemonCards().then(() => { this.$emit('update:loadingCards', false); });
		},
		resetForm() {
			this.CLEAR_CARDS_FILTERS();
			this.submitFilters();
		},
	},
};
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
.catalog-form {
	padding-bottom: 40px;
}

.catalog-form-item {
	border-bottom: solid;
}

.catalog-form-button {
	vertical-align: bottom;

	&__black {
		@extend .catalog-form-button;
		border: solid;
	}
}

.pokemon-set-symbol-image {
	vertical-align: middle;
	width: 25px;
	height: 25px;
	padding-right: 15px;
}
</style>