<template>
	<div>
		<el-row
			v-loading="loadingCards"
			element-loading-text="Loading Pokemon cards ..."
			element-loading-background="rgba(0, 0, 0, 0.7)"
			:gutter="20"
			class="catalog"
		>
			<el-col
				v-for="card in pokemonCards"
				:key="card.id"
				:xs="24"
				:sm="12"
				:md="12"
				:lg="8"
				:xl="6"
			>
				<CatalogCardItem
					:card="card"
					class="catalog-card-item"
				/>
			</el-col>
		</el-row>
	</div>
</template>

<script>
import { mapGetters } from 'vuex';
import CatalogCardItem from '@/components/catalog/CatalogCardItem';

export default {
	name: 'CatalogAllCards',
	components: {
		CatalogCardItem,
	},
	props: {
		loadingCards: { type: Boolean, default: false },
	},
	computed: {
		...mapGetters('catalog', ['pokemonCards']),
	},
};
</script>

<style scoped>
.catalog {
	display: flex;
	flex-wrap: wrap;
	min-height: 200px;
}
.catalog-card-item {
	padding-top: 50px;
}
</style>