<template>
	<div>
		<el-image
      :src="card.images.small"
      :alt="'Pokemon card named ' + card.name"
			class="card-item-image"
			@click.native="handleDisplayDescription"
		/>
		<div>
			<el-row>
				<!-- PRICE -->
				<el-col :span="12">
					<CardPriceTag
						:price="cardPrice"
						large
					/>
				</el-col>

				<!-- ADD buttons -->
				<el-col :span="12">
					<FavoriteIcon
						v-if="userFavoriteCards.includes(card.id)"
						class="clickable-icon"
						small
						@click.native="handleRemoveFromFavorites"
					/>
					<el-tooltip
						v-else
						content="Add to favorites"
						placement="top"
						:open-delay="200"
					>
						<NotFavoriteIcon
							small
							class="clickable-icon"
							@click.native="handleAddtoFavorite"
						/>
					</el-tooltip>

					<el-tooltip
						content="Add to shopping cart"
						placement="top"
						:open-delay="200"
					>
						<AddToShoppingCartIcon
							small
							class="clickable-icon"
							@click.native="handleAddToShoppingCart"
						/>
					</el-tooltip>
				</el-col>
			</el-row>
		</div>

		<CardDescription
			v-if="cardDescriptionVisible"
			:card="card"
			:price="cardPrice"
			:visible.sync="cardDescriptionVisible"
		/>
	</div>
</template>

<script>
import {mapGetters, mapMutations} from 'vuex';
import NotFavoriteIcon from '@/components/icons/NotFavoriteIcon';
import AddToShoppingCartIcon from '@/components/icons/AddToShoppingCartIcon';
import CardDescription from '@/components/card/CardDescription';
import FavoriteIcon from '@/components/icons/FavoriteIcon';
import CardPriceTag from '@/components/card/CardPriceTag';

export default {
	name: 'CatalogCardItem',
	components: {
		CardPriceTag,
		FavoriteIcon,
		NotFavoriteIcon,
		AddToShoppingCartIcon,
		CardDescription,
	},
	props: {
		card: { type: Object, required: true }
	},
	data() {
		return {
			cardDescriptionVisible: false,
		};
	},
	computed: {
		...mapGetters('catalog', ['userFavoriteCards']),
		cardPrice() {
			return this._.random(0.5, 5.5).toFixed(2);
		},
	},
	methods: {
		...mapMutations('shoppingcart', ['ADD_CARD_IN_SHOPPING_CART']),
		...mapMutations('catalog', ['ADD_FAVORITE_CARD', 'REMOVE_FAVORITE', 'ADD_LAST_SEEN_CARD']),
		handleDisplayDescription() {
			this.cardDescriptionVisible = true;
			this.ADD_LAST_SEEN_CARD(this.card);
		},
		handleAddToShoppingCart() {
			this.ADD_CARD_IN_SHOPPING_CART({ card : this.card, price: this.cardPrice, quantity: 1 });
			this.$notify({
				title: `Card ${this.card.name}`,
				message: 'succesfully added in shopping cart',
				position: 'bottom-right',
				type: 'success',
			});
		},
		handleAddtoFavorite() {
			this.ADD_FAVORITE_CARD(this.card.id);
		},
		handleRemoveFromFavorites() {
			this.REMOVE_FAVORITE(this.card.id);
		}
	},
};
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
// Card style
.card-item-image:hover {
	cursor: pointer;
}
/* generated element for shine effect. normal state is semi-transparent white but with zero width.
 * Set no transition here for no mouse-leave animations.
 * Otherwise the effect will play in reverse when your mouse leaves the element
 */
.card-item-image:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background-color: rgba(255,255,255,0.4);
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;

}
/* on hover we animate the width to
 * 100% and opacity to 0 so the element
 * grows and fades out
 */
.card-item-image:hover:after {
	width: 120%;
	background-color: rgba(255,255,255,0);
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
</style>
