@import './pokemon-land.scss';

// Header, Footer
.pokemon-land-header, .pokemon-land-footer {
  height: auto !important;
  line-height: 50px;
  text-align: center;
  padding-top: 20px;
  background-image: url("../assets/header_background.jpeg");
}

.header-logo {
  width: 40%;
  height: 100%;

  .el-image__inner {
    vertical-align: middle;
  }
}

.header-icon {
  padding: 15px 30px 0 30px;
}

.header-icon:hover {
  transform: scale(1.2);
  cursor: pointer;
}

// Main
.el-main {
  background-color: $color-background-regular;
  color: #333;
  text-align: center;
  min-height: 100vh;
  padding: 50px 15% 100px 15%;
}

.el-breadcrumb {
  padding-top: 20px;
}
