@import '~element-ui/packages/theme-chalk/src/common/var';
@import '~element-ui/packages/theme-chalk/src/tree';

// colors
$color-text-regular: $--color-text-regular;
$color-light-text-regular: $--border-color-light;
$color-background-regular: $--border-color-extra-light;
$color-text-dark: $--color-black;

.clickable-icon {
  padding: 0 10px;
}

.clickable-icon:hover {
  transform: scale(1.2);
  cursor: pointer;
}
