<template>
	<el-breadcrumb separator="/">
		<el-breadcrumb-item :to="{ path: '/catalog' }">
			<h1>
				<BreadcrumbIcon style="vertical-align: middle;" />
				{{ currentRoute.meta.breadcrumbName }}
			</h1>
		</el-breadcrumb-item>
	</el-breadcrumb>
</template>

<script>
import BreadcrumbIcon from '@/components/icons/BreadcrumbIcon';

export default {
	name: 'Breadcrumb',
	components: { BreadcrumbIcon },
	computed: {
		currentRoute() {
			return this.$route;
		}
	},
	data() {
		return {
			breadcrumbList: [],
		};
	},
	mounted() {
		this.updateBreadcrumb();
	},
	methods: {
		updateBreadcrumb() {

		},
	}
};
</script>

<style scoped>

</style>