<template>
  <el-header class="pokemon-land-header">
    <el-row align="bottom">
      <!-- HEADER LOGO -->
      <el-col
          :xs="24"
          :sm="24"
          :md="6"
          :lg="8"
          :xl="8"
      >
        <router-link :to="{ name: 'Catalog' }">
          <el-image
            :src="logo"
            alt="Pokemon Land logo"
            fit="contain"
            class="header-logo"
          />
        </router-link>
      </el-col>

      <!-- HEADER TEXT SEARCH -->
      <el-col
          :xs="24"
          :sm="18"
          :md="9"
          :lg="8"
          :xl="8"
      >
        <el-input
						v-model="searchText"
						clearable
						placeholder="Search for a Pokemon card by its name ..."
				>
          <el-button slot="append" icon="el-icon-search" />
        </el-input>
      </el-col>

      <!-- HEADER ICONS/BUTTONS -->
      <el-col
          :xs="24"
          :sm="6"
          :md="9"
          :lg="8"
          :xl="8"
      >
        <!-- FAVORITES -->
        <div
            id="favoritesContainer"
            class="favorites-container"
        >
					<el-row class="header-icon">
						<el-badge :value="userFavoriteCards.length" type="info">
							<router-link :to="{ name: 'Favorites' }">
								<FavoriteIcon />
							</router-link>
						</el-badge>
          </el-row>
          <el-row>
            <small id="favoritesText">My favorites</small>
          </el-row>
        </div>

        <!-- SHOPPING CART -->
        <div
            id="shoppingCartContainer"
            class="shopping-cart-container"
        >
          <el-row class="header-icon">
            <el-badge :value="shoppingCartTotalItems" type="warning">
							<ShoppingCartIcon @click.native="handleShoppingCartClick" />
            </el-badge>
          </el-row>
          <el-row>
            <small id="shoppingCartText">My shopping cart</small>
          </el-row>
        </div>
      </el-col>
    </el-row>

		<!-- SHOPPING CART DRAWER -->
		<ShoppingCartDrawer :visible.sync="shoppingCartDrawerVisible" />
  </el-header>
</template>

<script>
import { mapActions, mapGetters, mapMutations } from 'vuex';
import FavoriteIcon from '@/components/icons/FavoriteIcon';
import ShoppingCartIcon from '@/components/icons/ShoppingCartIcon';
import ShoppingCartDrawer from '@/components/shoppingCart/ShoppingCartDrawer';

export default {
	name: 'Header',
	components: {
		ShoppingCartIcon,
		FavoriteIcon,
		ShoppingCartDrawer,
	},
	data() {
		return {
			logo: require('@/assets/PokemonLand_logo.png'),
			shoppingCartDrawerVisible: false,
		};
	},
	computed: {
		...mapGetters('catalog', ['pokemonCardsTextSearch', 'userFavoriteCards']),
		...mapGetters('shoppingcart', ['shoppingCartTotalItems']),
		searchText: {
			get() {
				return this.pokemonCardsTextSearch;
			},
			set(value) {
				this.SET_CARDS_SEARCH_TEXT(value);
				this.SET_CURRENT_PAGE_CARDS(1);
				this.fetchPokemonCards();
			},
		},
	},
	methods: {
		...mapActions('catalog', ['fetchPokemonCards']),
		...mapMutations('catalog', ['SET_CARDS_SEARCH_TEXT', 'SET_CURRENT_PAGE_CARDS']),
		handleShoppingCartClick() {
			this.shoppingCartDrawerVisible = true;
		},
	},
};
</script>

<style rel="stylesheet/scss" lang="scss">
@import 'src/styles/pokemon-land.scss';

.favorites-container, .shopping-cart-container {
  display: inline-block;
  vertical-align: top;
  line-height: normal;
}

#favoritesText, #shoppingCartText {
  display: none;
  color: $color-light-text-regular;
}

#favoritesContainer:hover #favoritesText, #shoppingCartContainer:hover #shoppingCartText {
  display: block;
  vertical-align: top;
}
</style>
