<template>
	<el-alert
			:closable="false"
			type="warning"
			effect="dark"
			center
			class="offer-alert"
	>
		BUY 4 CARDS ---------> GET 1 FREE !
	</el-alert>
</template>

<script>
export default {
	name: 'SpecialOffer',
};
</script>

<style rel="stylesheet/scss" lang="scss">
@import 'src/styles/pokemon-land.scss';

.offer-alert {
	border-radius: 0 !important;
	.el-alert__description {
		color: $color-text-dark !important;
		font-weight: bold;
		letter-spacing: 8px;
	}
}
</style>