<template>
	<el-dialog
		:visible="isVisible"
		@close="closeDialog"
	>
		<h1 slot="title">
			Card {{ card.name }}
			<el-tag
				v-if="card.hp"
				effect="dark"
				size="medium"
				color="purple"
				class="hp-tag"
			>
				{{ card.hp }} Hit Points
			</el-tag>
		</h1>

		<el-row :gutter="20">
			<el-col :span="largeImageSize ? 18 : 12 ">
				<!-- ZOOM IN / ZOOM OUT card -->
				<el-row class="hidden-xs-only">
					<ZoomOutIcon
							v-if="largeImageSize"
							@click.native="largeImageSize = false"
					/>
					<ZoomInIcon
							v-else
							@click.native="largeImageSize = true"
					/>
				</el-row>

				<!-- POKEMON CARD IMAGE -->
				<transition name="el-zoom-in-center">
					<!-- -- Nb: using v-swho instead of v-if to enable transition animation -->
					<el-image
						v-show="largeImageSize"
						:src="card.images.large"
						:alt="'Pokemon card named ' + card.name"
					/>
				</transition>
				<transition name="el-zoom-in-center">
					<el-image
							v-show="!largeImageSize"
							:src="card.images.small"
							:alt="'Pokemon card named ' + card.name"
						/>
				</transition>
			</el-col>

			<!-- POKEMON CARD DESCRIPTION -->
			<el-col :span="largeImageSize ? 6 : 12 " style="text-align: left;">
				<el-image :src="card.set.images.logo" size="mini" />

				<p v-if="card.types">
					Types :
					<el-tag v-for="type in card.types" :key="type" effect="dark" type="success">{{ type }}</el-tag>
				</p>

				<p v-if="card.subtypes">
					Sub types :
					<el-tag v-for="subtype in card.subtypes" :key="subtype" effect="dark" type="success">{{ subtype }}</el-tag>
				</p>

				<p v-if="card.supertype">
					Super type : <el-tag effect="dark" type="success">{{ card.supertype }}</el-tag>
				</p>

				<p v-if="card.nationalPokedexNumbers">
					Pokedex numbers :
					<el-tag v-for="number in card.nationalPokedexNumbers" :key="number" effect="dark">{{ number }}</el-tag>
				</p>

				<p v-if="card.rarity">
					Rarity : <el-tag effect="dark" type="danger">{{ card.rarity }}</el-tag>
				</p>

				<p v-if="card.artist">
					Artist : <el-tag effect="dark" type="info">{{ card.artist }}</el-tag>
				</p>
			</el-col>
		</el-row>

		<!-- FOOTER -->
		<div slot="footer">
			<el-divider />
			<!-- -- PRICE -->
			<el-tag
				effect="dark"
				:type="price < 2 ? 'warning' : 'info'"
				style="float: left; font-size: x-large;"
			>
				{{ price }} €
			</el-tag>

			<!-- -- FAVORITE BUTTON -->
			<FavoriteIcon
				v-if="userFavoriteCards.includes(card.id)"
				class="clickable-icon"
				@click.native="handleRemoveFromFavorites"
			/>
			<el-tooltip
				v-else
				content="Add to favorites"
				placement="top"
			>
				<NotFavoriteIcon
					class="clickable-icon"
					@click.native="handleAddtoFavorite"
				/>/>
			</el-tooltip>

			<!-- -- SHOPPING CART BUTTON -->
			<el-input-number
				v-model="quantity"
				:min="1"
			/>

			<el-button
				type="warning"
				size="mini"
				@click="addCardToShoppingCart"
				style="margin-left: 20px;"
			>
				<AddToShoppingCartIcon />
				<span
					v-text="'Add to shopping cart'"
					style="display: block;"
				/>
			</el-button>
		</div>
	</el-dialog>
</template>

<script>
import {mapGetters, mapMutations} from 'vuex';
import AddToShoppingCartIcon from '@/components/icons/AddToShoppingCartIcon';
import FavoriteIcon from '@/components/icons/FavoriteIcon';
import NotFavoriteIcon from '@/components/icons/NotFavoriteIcon';
import ZoomInIcon from '@/components/icons/ZoomInIcon';
import ZoomOutIcon from '@/components/icons/ZoomOutIcon';

export default {
	name: 'CardDescription',
	props: {
		card: { type: Object, required: true },
		price: { type: String, required: true },
		isVisible: { type: Boolean, default: true },
	},
	components: {
		ZoomOutIcon,
		ZoomInIcon,
		FavoriteIcon,
		NotFavoriteIcon,
		AddToShoppingCartIcon,
	},
	data() {
		return {
			largeImageSize: true,
			quantity: 1,
		};
	},
	computed: {
		...mapGetters('catalog', ['userFavoriteCards']),
	},
	methods: {
		...mapMutations('shoppingcart', ['ADD_CARD_IN_SHOPPING_CART']),
		...mapMutations('catalog', ['ADD_FAVORITE_CARD', 'REMOVE_FAVORITE']),
		closeDialog() {
			this.$emit('update:visible', false);
		},
		addCardToShoppingCart() {
			this.ADD_CARD_IN_SHOPPING_CART({ card: this.card, price: this.price, quantity: this.quantity });

			const title = this.quantity > 1 ? `${this.quantity} ${this.card.name} cards` : `Card ${this.card.name}`;
			this.$notify({
				title,
				message: 'succesfully added in shopping cart',
				position: 'bottom-right',
				type: 'success',
			});

			this.closeDialog();
		},
		handleAddtoFavorite() {
			this.ADD_FAVORITE_CARD(this.card.id);
		},
		handleRemoveFromFavorites() {
			this.REMOVE_FAVORITE(this.card.id);
		}
	},
};
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
.hp-tag {
	margin-left: 50px;
	vertical-align: text-bottom;
}
</style>