<template>
	<el-tag
			effect="dark"
			:type="Number(price) < 2 ? 'warning' : 'info'"
			:class="large && 'large-price-tag'"
	>
		{{ price }} €
	</el-tag>
</template>

<script>
export default {
	name: 'CardPriceTag',
	props: {
		price: { type: String, required: true },
		large: { type: Boolean, default: false },
	},
};
</script>

<style scoped>
.large-price-tag {
	font-size: medium;
}
</style>