<template>
  <div>
    <vue-headful
      title="Catalog ‧ Pokemon Land"
      description="Catalog page of all pokemon cards"
    />

    <!-- ADVANCED SEARCH -->
    <CatalogAdvancedSearch :loading-cards.sync="loadingCards" />

		<el-row>
			<!-- TOTAL -->
			<el-badge
				v-loading="loadingCards"
				:value="totalPokemonCards + ' Pokémon cards'"
				type="primary"
				style="float: left;"
			/>

			<!-- SORT BUTTON -->
			<el-dropdown
				trigger="hover"
				style="float: right;"
				class="clickable-icon"
				@command="handleCommand"
			>
				<span>
					<SortIcon />Order by
					{{ pokemonCardsOrder.orderMode + ' ' + pokemonCardsOrder.orderName }}
				</span>
				<el-dropdown-menu slot="dropdown">
					<el-dropdown-item
						v-for="order in orderOptions"
						:key="order.orderKey + '_' + order.orderMode"
						:icon="order.orderMode === 'ascending' ? 'el-icon-sort-up' : 'el-icon-sort-down'"
						:command="{ orderKey: order.orderKey, orderName: order.orderName, orderMode: order.orderMode }"
						:divided="order.divided"
					>
						{{ order.orderName }}
					</el-dropdown-item>
				</el-dropdown-menu>
			</el-dropdown>
		</el-row>

    <!-- CARDS -->
    <el-divider />
		<span
			v-if="!loadingCards && totalPokemonCards === 0"
			v-text="'No matching Pokemon card :('"
			style="min-height: 200px;"
		/>
		<CatalogAllCards
			v-else
			:loadingCards="loadingCards"
		/>

    <!-- PAGINATION -->
    <el-divider />
    <el-pagination
      background
      :page-sizes="[10, 20, 50, 100, 200]"
      :page-size="pageSizePokemonCards"
			:current-page="currentPagePokemonCards"
      :total="totalPokemonCards"
			layout="sizes, prev, pager, next"
			:pager-count="11"
			hide-on-single-page
			@size-change="paginationSizeChange"
			@current-change="paginationCurrentChange"
    />

		<!-- LAST SEEN CARDS -->
		<div
			v-if="!_.isEmpty(lastSeenCards)"
			style="padding-top: 20px;"
		>
			<h3	v-text="'Your last seen cards'" />
			<el-carousel :interval="4000" type="card" >
				<el-carousel-item v-for="card in lastSeenCards" :key="card.id">
					<el-image
						:src="card.images.small"
						style="height: 100%;"
					/>
				</el-carousel-item>
			</el-carousel>
		</div>
  </div>
</template>

<script>
import { mapGetters, mapActions, mapMutations } from 'vuex';
import CatalogAllCards from '@/components/catalog/CatalogAllCards';
import CatalogAdvancedSearch from '@/components/catalog/CatalogAdvancedSearch';
import SortIcon from '@/components/icons/SortIcon';

export default {
	name: 'Catalog',
	components: {
		CatalogAllCards,
		CatalogAdvancedSearch,
		SortIcon,
	},
	data() {
		return {
			loadingCards: false,
			orderOptions: [
				{ orderKey: 'name', orderName: 'Name', orderMode: 'ascending'},
				{ orderKey: 'number', orderName: 'Number', orderMode: 'ascending'},
				{ orderKey: 'hp', orderName: 'Hit Points', orderMode: 'ascending'},
				{ orderKey: 'name', orderName: 'Name', orderMode: 'descending', divided: true },
				{ orderKey: 'number', orderName: 'Number', orderMode: 'descending'},
				{ orderKey: 'hp', orderName: 'Hit Points', orderMode: 'descending'},
			],
		};
	},
	computed: {
		...mapGetters('catalog', [
			'totalPokemonCards', 'currentPagePokemonCards', 'pageSizePokemonCards', 'pokemonCardsOrder', 'lastSeenCards',
		]),
	},
	mounted() {
		this.fetchCards();
	},
	methods: {
		...mapActions('catalog', ['fetchPokemonCards']),
		...mapMutations('catalog', ['SET_PAGE_SIZE_CARDS', 'SET_CURRENT_PAGE_CARDS', 'SET_CARDS_ORDER']),
		fetchCards() {
			this.loadingCards = true;
			this.fetchPokemonCards().then(() => { this.loadingCards = false; });
		},
		handleCommand(payload) {
			this.SET_CARDS_ORDER(payload);
			this.fetchCards();
		},
		paginationSizeChange(size) {
			this.SET_CURRENT_PAGE_CARDS(1);
			this.SET_PAGE_SIZE_CARDS(size);
			this.fetchCards();
		},
		paginationCurrentChange(currentPage) {
			this.SET_CURRENT_PAGE_CARDS(currentPage);
			this.fetchCards();
		},
	}
};
</script>

<style>
.el-pager li {
	border-bottom: solid black;
}
</style>
