<template>
  <div>
    <vue-headful
      title="Favorite cards ‧ Pokemon Land"
      description="User favorite cards"
    />
		<FavoritesAllCards />
  </div>
</template>

<script>

import FavoritesAllCards from '@/components/favorites/FavoritesAllCards';

export default {
	name: 'Favorites',
	components: {
		FavoritesAllCards,
	},
};
</script>

<style scoped>
</style>
