<template>
  <div>
    <vue-headful
        title="Error 404 ‧ Pokemon Land"
        description="Page not found"
    />

    <h1 v-text="'Oops !'" />

    <el-image
      :src="image"
      style="width: 50%;"
    />

    <h2 v-text="'PAGE NOT FOUND'" />
  </div>
</template>

<script>
export default {
	name: 'PageNotFound',
	data() {
		return {
			image: require('@/assets/404.png'),
		};
	},
};
</script>

<style scoped>

</style>