<template>
  <div>
    <vue-headful
      title="Shopping Cart ‧ Pokemon Land"
      description="User shopping cart"
    />

		<!-- ORDER STEPS -->
		<el-steps
			:active="activeStep"
			align-center
			simple
			finish-status="success"
			class="shopping-steps"
		>
			<el-step title="Shopping cart" icon="el-icon-shopping-cart-full" />
			<el-step title="Shipping" icon="el-icon-truck" />
			<el-step title="Payment" icon="el-icon-bank-card" />
			<el-step title="Confirmation" icon="el-icon-check" />
		</el-steps>

		<ShoppingCartTable v-if="activeStep === 0"/>

		<el-divider />

		<!-- NEXT STEPS BUTTONS -->
		<el-button
			v-if="activeStep === 0"
			disabled
			icon="el-icon-truck"
			@click="activeStep = 1"
		>
			Continue to shipping details
		</el-button>
  </div>
</template>

<script>

import ShoppingCartTable from '@/components/shoppingCart/ShoppingCartTable';

export default {
	name: 'ShoppingCart',
	components: {
		ShoppingCartTable,
	},
	data() {
		return {
			activeStep: 0,
		};
	},
};
</script>

<style rel="stylesheet/scss" lang="scss">
.shopping-steps {
	background: white !important;
	margin-bottom: 50px;
}
</style>
