<template>
	<el-table
			:key="tableKey"
			:data="shoppingCartCards"
			stripe
			show-summary
			:summary-method="getSummaries"
			:height="fixedHeight ? 700 : null"
			empty-text="No Pokemon Card added"
	>
		<!-- CARD IMAGE -->
		<el-table-column>
			<template slot-scope="scope">
				<el-image :src="scope.row.card.images.small" />
			</template>
		</el-table-column>

		<!-- CARD NAME -->
		<el-table-column
				label="Pokemon Card"
				min-width="140"
		>
			<template slot-scope="scope">
				{{ scope.row.card.name }}
			</template>
		</el-table-column>

		<!-- PRICE -->
		<el-table-column
				label="Unit price"
				align="center"
		>
			<template slot-scope="scope">
				<CardPriceTag :price="scope.row.price" />
			</template>
		</el-table-column>

		<!-- QUANTITY -->
		<el-table-column
				label="Quantity"
				align="center"
		>
			<template slot-scope="scope">
				<el-input-number
						:value="scope.row.quantity"
						size="mini"
						controls-position="right"
						:min="1"
						style="width: 80px;"
						@change="handleQuantityChange(scope.row.card.id, $event)"
				/>
			</template>
		</el-table-column>

		<!-- REMOVE CARD(s) -->
		<el-table-column>
			<!-- eslint-disable -->
			<template
				v-if="!_.isEmpty(shoppingCartCards)"
				slot="header"
				slot-scope="scope"
			>
				<el-popconfirm
					title="Are you sure to empty cart ?"
					icon="el-icon-warning"
					icon-color="red"
					@confirm="handleEmptyCart"
				>
					<el-button
						slot="reference"
						icon="el-icon-delete"
						circle
						size="mini"
					>
						Empty cart
					</el-button>
				</el-popconfirm>
			</template>
			<template slot-scope="scope">
				<el-button
						icon="el-icon-delete"
						circle
						@click="handleRemoveCard(scope.row.card.id)"
				/>
			</template>
		</el-table-column>
	</el-table>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex';
import CardPriceTag from '@/components/card/CardPriceTag';

export default {
	name: 'ShoppingCartTable',
	components: {
		CardPriceTag,
	},
	props: {
		fixedHeight: { type: Boolean, default: false },
	},
	data() {
		return {
			tableKey: 0,
		};
	},
	computed: {
		...mapGetters('shoppingcart', ['shoppingCartCards', 'shoppingCartTotalAmount', 'shoppingCartTotalItems']),
	},
	methods: {
		...mapMutations('shoppingcart', ['SET_CARD_QUANTITY', 'REMOVE_CARD_FROM_SHOPPING_CART', 'CLEAR_SHOPPING_CART_CARDS']),
		handleQuantityChange(cardId, newQuantity){
			this.SET_CARD_QUANTITY({ cardId, newQuantity });
		},
		handleRemoveCard(cardId) {
			this.REMOVE_CARD_FROM_SHOPPING_CART(cardId);
			this.tableKey += 1;
		},
		handleEmptyCart() {
			this.CLEAR_SHOPPING_CART_CARDS();
		},
		getSummaries() {
			const sums = [];

			// Prices sum
			sums[2] = this.shoppingCartTotalAmount + ' €';

			// Quantity sum
			sums[3] = this.shoppingCartTotalItems;
			if (sums[3] > 1) sums[3] += ' cards';
			else sums[3] += ' card';

			return sums;
		}
	},
};
</script>

<style scoped>

</style>