<template>
	<el-drawer
			title="My shopping cart"
			:visible="visible"
			direction="rtl"
			@close="handleClose"
			size="40%"
	>
		<!-- TITLE -->
		<span slot="title">
			<ShoppingCartIcon style="vertical-align: top;"/>
			Preview of my shopping cart
		</span>

		<!-- CONTENT -->
		<ShoppingCartTable fixedHeight />

		<el-divider />

		<!-- VALIDATE BUTTON -->
		<router-link :to="{ name: 'ShoppingCart' }">
			<el-button
				type="warning"
				icon="el-icon-check"
				@click="handleClose"
			>
				Continue to order
			</el-button>
		</router-link>
	</el-drawer>
</template>

<script>
import { mapMutations } from 'vuex';
import ShoppingCartIcon from '@/components/icons/ShoppingCartIcon';
import ShoppingCartTable from '@/components/shoppingCart/ShoppingCartTable';

export default {
	name: 'ShoppingCartDrawer',
	components: {
		ShoppingCartTable,
		ShoppingCartIcon,
	},
	props: {
		visible: { type: Boolean, default: true },
	},
	methods: {
		...mapMutations('shoppingcart', ['SET_CARD_QUANTITY', 'REMOVE_CARD_FROM_SHOPPING_CART']),
		handleClose() {
			this.$emit('update:visible', false);
		},
	},
};
</script>

<style scoped>

</style>