<template>
  <img
		:src="src"
		alt="Add to shopping cart icon"
  />
</template>

<script>
export default {
	name: 'AddToShoppingCartIcon',
	props: {
		small: { type: Boolean, default: false },
	},
	computed: {
		src() {
			return this.small ?
				'https://img.icons8.com/fluent/30/000000/buy.png' :
				'https://img.icons8.com/fluent/48/000000/buy.png';
		}
	}
};
</script>

<style scoped>
</style>
