<template>
	<img
		src="https://img.icons8.com/color/48/000000/bracelet-pokemon.png"
		alt="*"
	/>
</template>

<script>
export default {
	name: 'BreadcrumbIcon'
};
</script>

<style scoped>
</style>
