<template>
  <img
    :src="src"
    alt="Favorite icon"
  />
</template>

<script>
export default {
	name: 'FavoriteIcon',
	props: {
		small: { type: Boolean, default: false },
	},
	computed: {
		src() {
			return this.small ?
				'https://img.icons8.com/color/30/000000/heart-pokemon.png' :
				'https://img.icons8.com/color/48/000000/heart-pokemon.png';
		}
	}
};
</script>

<style scoped>
</style>
