<template>
  <img
      src="https://img.icons8.com/fluent/48/000000/shopping-cart-loaded.png"
      alt="Shopping cart icon"
  />
</template>

<script>
export default {
	name: 'ShoppingCartIcon'
};
</script>

<style scoped>
</style>
