<template>
	<img
		src="https://img.icons8.com/color/30/000000/generic-sorting.png"
		alt="Sort icon"
	/>
</template>

<script>
export default {
	name: 'SortIcon',
};
</script>

<style scoped>
</style>
