<template>
  <img
		src="https://img.icons8.com/fluent/48/000000/collapse.png"
    alt="Zoom out icon"
		class="clickable-icon"
  />
</template>

<script>
export default {
	name: 'ZoomOutIcon',
};
</script>

<style scoped>
</style>
