<template>
  <img
		src="https://img.icons8.com/fluent/48/000000/expand.png"
    alt="Zoom in icon"
		class="clickable-icon"
  />
</template>

<script>
export default {
	name: 'ZoomInIcon',
};
</script>

<style scoped>
</style>
