<template>
  <el-container id="app">
		<SpecialOffer v-if="notErrorPage" />

		<Header v-if="notErrorPage" />

    <el-main>
			<Breadcrumb />
			<router-view />
    </el-main>

    <el-footer
        v-if="notErrorPage"
        class="pokemon-land-footer"
    >
      Footer
    </el-footer>
  </el-container>
</template>

<script>
import Header from '@/components/layouts/Header';
import SpecialOffer from '@/components/layouts/SpecialOffer';
import Breadcrumb from '@/components/layouts/Breadcrumb';

export default {
	name: 'App',
	components: {
		Header,
		SpecialOffer,
		Breadcrumb,
	},
	computed: {
		notErrorPage() {
			return this.$route.name !== 'PageNotFound';
		},
	}
};
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
</style>
